<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>게시판정보 페이지</title>
	<script type="text/javascript">
		//alert('게시판정보 페이지입니다. 반갑습니다.!')
	</script>
	<style type="text/css">
		body {
            background: lightyellow;
        }

        button {
            background: #18DE02;
        }

        .t1 {
            background: yellow;
            width: 150px;
            text-align: center;
        }
	</style>
</head>
<body>

<header>
	<nav>
		<a href="main">목차 페이지로</a>
	</nav>
</header>

<main>
	<h3>게시판정보 페이지</h3>
	<hr>
	<table border="1">
		<tr>
			<td class="t1">게시판 글쓰기</td>
			<td><a href="bbs_insert_form">
				<button>GO!!</button>
			</a></td>
		</tr>
		<tr>
			<td class="t1">게시판글 검색(상세페이지)</td>
			<td><a href="bbs_one_form">
				<button>GO!!</button>
			</a></td>
		</tr>
		<tr>
			<td class="t1">게시판글 전체목록<br>(여러개)
			</td>
			<td><a href="bbs_list">
				<button>GO!!</button>
			</a></td>
		</tr>
	</table>
</main>

<footer>
	<!-- 푸터바 포함 -->
</footer>

</body>
</html>
