<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		body {
            background: yellow;
        }

        td {
            width: 100px;
            text-align: center;
        }

        .top {
            background: black;
            color: white;
        }

        .down {
            background: lime;
        }
	</style>
</head>
<body>

<div class="content">
	<br><br>
	<div class="innerOuter">

		<hr>
		<table>
			<tr>
				<td class="top">no</td>
				<td class="top">title</td>
				<td class="top">content</td>
				<td class="top">writer</td>
			</tr>


			<tr>
				<td class="down">1</td>
				<td class="down"><a href="one2.multi?no=1">Title 1</a>
				</td>
				<td class="down">Content 1</td>
				<td class="down">Writer 1</td>
			</tr>
			<tr>
				<td class="down">2</td>
				<td class="down"><a href="one2.multi?no=2">Title 2</a>
				</td>
				<td class="down">Content 2</td>
				<td class="down">Writer 2</td>
			</tr>
			<tr>
				<td class="down">3</td>
				<td class="down"><a href="one2.multi?no=3">Title 3</a>
				</td>
				<td class="down">Content 3</td>
				<td class="down">Writer 3</td>
			</tr>

		</table>


	</div>
	<br><br>
</div>


<!-- Footer -->
<div class="footer">
	<!-- Footer content goes here -->
</div>
</body>
</html>
